@import '../../common/scss/variable.scss';

.user-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.info-list {
  margin-left: 14px;
  li {
    width: 154px;
    font-weight: 600;
    color: $color-text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.user-create:not(:last-child) {
  margin-bottom: 10px;
}
