@import '../../common/scss/variable.scss';

.main-header-container {
  position: relative;
  height: 64px;
  z-index: 100;
}
.mini-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  transition: all .2s;
  transform: translateZ(0);
}
.hidden {
  transition: all .2s;
  transform: translate3d(0, -100%, 0);
}
.inner-container {
  display: flex;
  align-items: center;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 96%;
  }
}
.logo {
  flex: 48px 0 0;
  margin-right: 2em;
  line-height: 0;
}
.logo-img {
  height: 48px;
}
.search {
  max-width: 300px;
  margin-right: 1.5em;
  @media (max-width: 576px) {
    display: none;
  }
}
.login-or-register {
  flex: 0 0 120px;
  padding: 0 18px;
  font-size: 16px;
  color: $color-primary;
  cursor: pointer;
}
.login {
  &:after {
    content: '·';
    margin: 0 6px;
  }
}
.login-modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}
.login-box {
  position: relative;
  width: 320px;
  max-width: 100%;
  padding: 28px;
  background: #fff;
  border-radius: 2px;
}
.login-close-icon {
  float: right;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.login-panel {
  width: 100%;
}
.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}
.input-group {
  margin-bottom: 8px;
  overflow: hidden;
}
.input-box {
  position: relative;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  outline: none;
  &:focus {
    border-color: $color-primary;
  }
}
.btn-submit {
  width: 100%;
  margin-bottom: 14px;
}
.tip {
  color: $color-tip;
}
