@import '../../common/scss/variable.scss';

.comments-item {
  position: relative;
  display: flex;
  padding: 10px 24px;
  border-bottom: 1px solid #f5f5f5;
}
.item-comment {
  flex: 1;
  margin-left: 10px;
}
.comment-title {
  margin-bottom: 5px;
  time {
    font-size: 12px;
    color: #909090;
  }
}
.comment-username {
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px;
}
.comment-floor {
  float: right;
  font-size: 12px;
  color: #909090;
}
.comment-content {
  margin: 5px 0;
  line-height: 1.7;
  pre {
    background-color: #f8f8f8;
  }
  code {
    display: block;
    padding: 0.5em 1em;
    margin: 0;
    overflow-x: auto;
    word-break: normal;
    background: #f8f8f8;
  }
  img {
    max-width: 100%;
    max-height: 668px;
  }
  a {
    color: $color-primary;
  }
}
.comment-operation {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #909090;
}
.comment-like-btn {
  display: inline-block;
  height: 30px;
  margin-right: 1em;
  padding: 0 12px;
  font-size: 14px;
  text-align: center;
  color: $color-primary;
  background: rgba(0, 132, 255, 0.1);
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
}
.comment-like-btn.isLiked {
  color: #fff;
  background: $color-primary;
}
.comment-like-btn:hover {
  background-color: rgba(0, 132, 255, 0.15);
}
.comment-like-btn.isLiked:hover {
  background: $color-primary;
}
.comment-like-btn:focus {
  outline: none;
}
.sub-comment-btn {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #909090;
  cursor: pointer;
}
.sub-comment-arrow {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    left: 30px;
    border-width: 0 9px 10px;
    border-style: solid;
    border-color: transparent transparent #eaeaea;
    top: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(100% + 2px);
    left: 31px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #fff;
  }
}
.sub-comment-box {
  margin-top: 9px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
}
.sub-comment-box-inner {
  padding: 16px;
}
.empty-comment {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 500;
  color: #909090;
  text-align: center;
}
.sub-comment-list {
  padding-bottom: 15px;
  li {
    padding: 15px 0;
    &:first-child {
      padding-top: 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #eaeaea;
    }
  }
}
.sub-comment-item {
  position: relative;
  display: flex;
}
.sub-comment-username {
  font-weight: 500;
  margin-right: 1em;
}
.sub-comment-operation {
  font-size: 12px;
  a {
    margin-left: 1em;
    color: #909090;
    &:hover {
      color: $color-primary;
    }
  }
}
.reply-form {
  margin-top: 15px;
}
