/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body,
h1, h2, h3, h4, h5, h6, p,
a, em, img, i,
dl, dt, dd, ol, ul, li,
form, label, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

 /* custom */

a {
  color: #262626;
  backface-visibility: hidden;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #262626;
  background-color: #f5f5f5;
}
