@import '../../common/scss/variable.scss';

:global {
  .aside-box {
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }
}
/* .login {
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
} */
.title {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: $color-text;
}
.slogan {
  margin-bottom: 16px;
  color: $color-text;
}
.input-box {
  position: relative;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  padding: 7px 8px;
  border: 1px solid $color-background;
  border-radius: 2px;
  background: #fafafa;
  outline: none;
}
.btn-submit {
  width: 100%;
  margin-bottom: 10px;
}
.tip {
  color: $color-tip;
}
